# Results Log

Random Forest Regressor (85%) - Relative Mean Error 0.65

In [69]:
import os
import pandas as pd
import numpy as np
import pickle
import joblib
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
import math

### Reload Trained Model

In [2]:
forest_reg = pickle.load(open('forest_reg.pkl', 'rb'))

## Model Outline and Goals
The goal is to predict a particular item sales for a given day with the following information: WeekDay, LotteryJackPotSize, IsHoliday, IsWeekend, FranchiseID and/or County. We'll start off with a simple Regression Model to only predict Lottery Sales Non-Inventoriable

### Download Data

In [3]:
# cwd = os.getcwd()
# aug_path = os.path.join(cwd, "Data", "2021-08 BlueCube Sales Sample Data.csv")
# aug_data = pd.read_csv(aug_path, index_col = None, header = None)

jan_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-01 BlueCube Sales Sample Data.csv", index_col = None, header = None)
jan_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
jan_data = jan_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

feb_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-02 BlueCube Sales Sample Data.csv", index_col = None, header = None)
feb_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
feb_data = feb_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

mar_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-03 BlueCube Sales Sample Data.csv", index_col = None, header = None)
mar_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
mar_data = mar_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

apr_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-04 BlueCube Sales Sample Data.csv", index_col = None, header = None)
apr_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
apr_data = apr_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

may_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-05 BlueCube Sales Sample Data.csv", index_col = None, header = None)
may_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
may_data = may_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

jun_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-06 BlueCube Sales Sample Data.csv", index_col = None, header = None)
jun_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
jun_data = jun_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

jul_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-07 BlueCube Sales Sample Data.csv", index_col = None, header = None)
jul_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
jul_data = jul_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

aug_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-08 BlueCube Sales Sample Data.csv", index_col = None, header = None)
aug_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
aug_data = aug_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

sep_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-09 BlueCube Sales Sample Data.csv", index_col = None, header = None, names = ['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','RoyaltySegment','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity'])

oct_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-10 BlueCube Sales Sample Data.csv", index_col = None, header = None)
oct_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
oct_data = oct_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

nov_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-11 BlueCube Sales Sample Data.csv", index_col = None, header = None)
nov_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
nov_data = nov_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

dec_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\2021-12 BlueCube Sales Sample Data.csv", index_col = None, header = None)
dec_data.rename(columns = {0:'FranchiseID',1:'CenterName',2:'City',3:'StateProvince',4:'ZipPostalCode',5:'CarWash',6:'StoreHours',7:'StoreSize',8:'CategoryName',9:'SubCategoryName',10:'SegmentName',11:'RoyaltySegment',18:'WeekDayName',19:'IsWeekend',20:'IsHoliday',21:'TransactionDate',22:'TransactionTimeStamp',23:'TotalSales',24:'TotalQuantity'}, inplace=True)
dec_data = dec_data[['FranchiseID','CenterName','City','StateProvince','ZipPostalCode','CarWash','StoreHours','StoreSize','CategoryName','SubCategoryName','SegmentName','WeekDayName','IsWeekend','IsHoliday','TransactionDate','TransactionTimeStamp','TotalSales','TotalQuantity']]

In [4]:
location_data = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\Store Local Data.csv")

# Fix County "5" which is Huntington Beach to 'Orange County'
location_data['County'] = location_data['County'].replace('5', 'Orange')

location_data

    FranchiseID               Market AreaRegion       County
0          5000  Southern California   LA Basin       Orange
1          5002  Southern California   LA Basin  Los Angeles
2          5003  Southern California   LA Basin  Los Angeles
3          5004  Southern California   LA Basin  Los Angeles
4          5006  Southern California   LA Basin       Orange
5          5008  Southern California   LA Basin  Los Angeles
6          5011  Southern California   LA Basin       Orange
7          5013  Southern California   LA Basin  Los Angeles
8          5014  Southern California   LA Basin  Los Angeles
9          5015  Southern California   LA Basin  Los Angeles
10         5023  Southern California   LA Basin  Los Angeles
11         5025  Southern California   LA Basin       Orange
12         5052  Southern California   LA Basin  Los Angeles
13         5086  Southern California   LA Basin  Los Angeles
14         5121  Southern California   LA Basin  Los Angeles
15         5122  Southern California   LA Basin       Orange
16         5156  Southern California   LA Basin       Orange
17         5179  Southern California   LA Basin  Los Angeles
18         5216  Southern California   LA Basin  Los Angeles
19         5239  Southern California   LA Basin  Los Angeles
20         5254  Southern California   LA Basin  Los Angeles
21         5256  Southern California   LA Basin       Orange
22         5319  Southern California   LA Basin  Los Angeles
23         5324  Southern California   LA Basin       Orange
24         5343  Southern California   LA Basin  Los Angeles
25         5346  Southern California   LA Basin       Orange
26         5356  Southern California   LA Basin       Orange
27         5369  Southern California   LA Basin       Orange
28         5372  Southern California   LA Basin       Orange
29         5383  Southern California   LA Basin  Los Angeles
30         5387  Southern California   LA Basin  Los Angeles
31         5409  Southern California   LA Basin       Orange
32         5421  Southern California   LA Basin  Los Angeles
33         5435  Southern California   LA Basin  Los Angeles
34         5438  Southern California   LA Basin       Orange
35         5452  Southern California   LA Basin       Orange
36         5454  Southern California   LA Basin       Orange
37         5461  Southern California   LA Basin  Los Angeles
38         5463  Southern California   LA Basin       Orange
39         5464  Southern California   LA Basin  Los Angeles
40         5469  Southern California   LA Basin       Orange
41         5483  Southern California   LA Basin          NaN
42         5490  Southern California   LA Basin   California

In [5]:
lottery_dates = pd.read_csv(r"C:\Users\MKyle\Documents\GitHub\LotteryJackpots.csv")
lottery_dates['Draw Date'] = pd.to_datetime(lottery_dates['Draw Date'])
lottery_dates.rename(columns = {'Draw Date':'Date'}, inplace=True)

jan_data['TransactionDate'] = pd.to_datetime(jan_data['TransactionDate'])
jan_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
feb_data['TransactionDate'] = pd.to_datetime(feb_data['TransactionDate'])
feb_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
mar_data['TransactionDate'] = pd.to_datetime(mar_data['TransactionDate'])
mar_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
apr_data['TransactionDate'] = pd.to_datetime(apr_data['TransactionDate'])
apr_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
may_data['TransactionDate'] = pd.to_datetime(may_data['TransactionDate'])
may_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
jun_data['TransactionDate'] = pd.to_datetime(jun_data['TransactionDate'])
jun_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
jul_data['TransactionDate'] = pd.to_datetime(jul_data['TransactionDate'])
jul_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
aug_data['TransactionDate'] = pd.to_datetime(aug_data['TransactionDate'])
aug_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
sep_data['TransactionDate'] = pd.to_datetime(sep_data['TransactionDate'])
sep_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
oct_data['TransactionDate'] = pd.to_datetime(oct_data['TransactionDate'])
oct_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
nov_data['TransactionDate'] = pd.to_datetime(nov_data['TransactionDate'])
nov_data.rename(columns={'TransactionDate':'Date'}, inplace=True)
dec_data['TransactionDate'] = pd.to_datetime(dec_data['TransactionDate'])
dec_data.rename(columns={'TransactionDate':'Date'}, inplace=True)

jan_data = jan_data.merge(location_data, on = 'FranchiseID', how='left')
feb_data = feb_data.merge(location_data, on = 'FranchiseID', how='left')
mar_data = mar_data.merge(location_data, on = 'FranchiseID', how='left')
apr_data = apr_data.merge(location_data, on = 'FranchiseID', how='left')
may_data = may_data.merge(location_data, on = 'FranchiseID', how='left')
jun_data = jun_data.merge(location_data, on = 'FranchiseID', how='left')
jul_data = jul_data.merge(location_data, on = 'FranchiseID', how='left')
aug_data = aug_data.merge(location_data, on = 'FranchiseID', how='left')
sep_data = sep_data.merge(location_data, on = 'FranchiseID', how='left')
oct_data = oct_data.merge(location_data, on = 'FranchiseID', how='left')
nov_data = nov_data.merge(location_data, on = 'FranchiseID', how='left')
dec_data = dec_data.merge(location_data, on = 'FranchiseID', how='left')

dec_data.head(5)

,FranchiseID,CenterName,City,StateProvince,ZipPostalCode,CarWash,StoreHours,StoreSize,CategoryName,SubCategoryName,...,WeekDayName,IsWeekend,IsHoliday,Date,TransactionTimeStamp,TotalSales,TotalQuantity,Market,AreaRegion,County
0,5216,Hamid Zerehi,Inglewood,California,90304,No,24 Hours,Medium (1000-1500 sq ft),MOTOR FUEL,ALL HIGH - GRADE,...,Wednesday,0,0,2021-12-01,2021-12-01 00:00:28.000,68.66,13.20,Southern California,LA Basin,Los Angeles
1,5121,Bahram Kasravi,Wilmington,California,90744,No,24 Hours,Medium (1000-1500 sq ft),MOTOR FUEL,ALL REGULAR,...,Wednesday,0,0,2021-12-01,2021-12-01 00:00:30.000,14.84,3.06,Southern California,LA Basin,Los Angeles
2,5179,Orange Car Wash Inc,Hawaiian Gardens,California,90716,No,24 Hours,Extra Small (less than 500 sq ft),MOTOR FUEL,ALL REGULAR,...,Wednesday,0,0,2021-12-01,2021-12-01 00:00:35.000,10.00,2.04,Southern California,LA Basin,Los Angeles
3,5014,Farhad Tale-Hakimi,Gardena,California,90248,Yes,24 Hours,Large (1500-3000 sq ft),MOTOR FUEL,ALL MID - GRADE,...,Wednesday,0,0,2021-12-01,2021-12-01 00:00:37.000,62.35,12.37,Southern California,LA Basin,Los Angeles
4,5015,Orange Car Wash Inc,Long Beach,California,90505,No,24 Hours,Medium (1000-1500 sq ft),MOTOR FUEL,ALL MID - GRADE,...,Wednesday,0,0,2021-12-01,2021-12-01 00:00:48.000,30.00,6.00,Southern California,LA Basin,Los Angeles

In [6]:
jan_data = jan_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
jan_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
jan_data = jan_data.merge(lottery_dates, on = 'Date', how = 'left')

feb_data = feb_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
feb_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
feb_data = feb_data.merge(lottery_dates, on = 'Date', how = 'left')

mar_data = mar_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
mar_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
mar_data = mar_data.merge(lottery_dates, on = 'Date', how = 'left')

apr_data = apr_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
apr_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
apr_data = apr_data.merge(lottery_dates, on = 'Date', how = 'left')

may_data = may_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
may_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
may_data = may_data.merge(lottery_dates, on = 'Date', how = 'left')

jun_data = jun_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
jun_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
jun_data = jun_data.merge(lottery_dates, on = 'Date', how = 'left')

jul_data = jul_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
jul_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
jul_data = jul_data.merge(lottery_dates, on = 'Date', how = 'left')

aug_data = aug_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
aug_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
aug_data = aug_data.merge(lottery_dates, on = 'Date', how = 'left')

sep_data = sep_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
sep_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
sep_data = sep_data.merge(lottery_dates, on = 'Date', how = 'left')

oct_data = oct_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
oct_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
oct_data = oct_data.merge(lottery_dates, on = 'Date', how = 'left')

nov_data = nov_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
nov_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
nov_data = nov_data.merge(lottery_dates, on = 'Date', how = 'left')

dec_data = dec_data.groupby(["SubCategoryName", "Date","WeekDayName","IsWeekend","IsHoliday", "FranchiseID"]).agg({'TotalSales': 'sum', 'TotalQuantity':'sum'}).reset_index()
dec_data.rename(columns = {'TotalQuantity':'TotalQuantitySold'}, inplace = True)
dec_data = dec_data.merge(lottery_dates, on = 'Date', how = 'left')

In [7]:
# Example of what each monthly dataset looks like:
dec_data.head()

,SubCategoryName,Date,WeekDayName,IsWeekend,IsHoliday,FranchiseID,TotalSales,TotalQuantitySold,Lottery,Estimated Jackpot
0,ACCESSORIES,2021-12-01,Wednesday,0,0,5002,3.99,1.0,Powerball,$264 Million
1,ACCESSORIES,2021-12-01,Wednesday,0,0,5006,5.98,2.0,Powerball,$264 Million
2,ACCESSORIES,2021-12-01,Wednesday,0,0,5014,33.96,4.0,Powerball,$264 Million
3,ACCESSORIES,2021-12-01,Wednesday,0,0,5086,16.98,2.0,Powerball,$264 Million
4,ACCESSORIES,2021-12-01,Wednesday,0,0,5122,7.99,1.0,Powerball,$264 Million

In [8]:
complete_data = pd.concat([jan_data, feb_data], axis = 0)
complete_data = pd.concat([complete_data, mar_data], axis = 0)
complete_data = pd.concat([complete_data, apr_data], axis = 0)
complete_data = pd.concat([complete_data, may_data], axis = 0)
complete_data = pd.concat([complete_data, jun_data], axis = 0)
complete_data = pd.concat([complete_data, jul_data], axis = 0)
complete_data = pd.concat([complete_data, aug_data], axis = 0)
complete_data = pd.concat([complete_data, sep_data], axis = 0)
complete_data = pd.concat([complete_data, oct_data], axis = 0)
complete_data = pd.concat([complete_data, nov_data], axis = 0)
complete_data = pd.concat([complete_data, dec_data], axis = 0)

In [9]:
# complete_data['TotalSales'] = complete_data['TotalSales'].apply(lambda x: -1 * x if x < 0 else x)
complete_data = complete_data[complete_data['TotalSales'] > 0]
complete_data.head()

,SubCategoryName,Date,WeekDayName,IsWeekend,IsHoliday,FranchiseID,TotalSales,TotalQuantitySold,Lottery,Estimated Jackpot
0,ACCESSORIES,2021-01-01,Friday,0,1,5006,15.98,2.0,Mega Millions,$401 Million
1,ACCESSORIES,2021-01-01,Friday,0,1,5023,12.99,1.0,Mega Millions,$401 Million
2,ACCESSORIES,2021-01-01,Friday,0,1,5121,9.99,1.0,Mega Millions,$401 Million
3,ACCESSORIES,2021-01-01,Friday,0,1,5122,15.98,2.0,Mega Millions,$401 Million
4,ACCESSORIES,2021-01-01,Friday,0,1,5256,16.99,1.0,Mega Millions,$401 Million

In [10]:
# Example of complete_data dataframe:
complete_data.tail(10)

,SubCategoryName,Date,WeekDayName,IsWeekend,IsHoliday,FranchiseID,TotalSales,TotalQuantitySold,Lottery,Estimated Jackpot
48618,WINE/CHAMPAGNE,2021-12-28,Tuesday,0,0,5452,33.96,4.0,Mega Millions,$201 Million
48619,WINE/CHAMPAGNE,2021-12-28,Tuesday,0,0,5469,47.97,3.0,Mega Millions,$201 Million
48620,WINE/CHAMPAGNE,2021-12-29,Wednesday,0,0,5452,47.97,3.0,Powerball,$441 Million
48621,WINE/CHAMPAGNE,2021-12-29,Wednesday,0,0,5469,52.97,3.0,Powerball,$441 Million
48622,WINE/CHAMPAGNE,2021-12-30,Thursday,0,0,5239,3.99,1.0,NaN,NaN
48623,WINE/CHAMPAGNE,2021-12-30,Thursday,0,0,5452,19.98,2.0,NaN,NaN
48624,WINE/CHAMPAGNE,2021-12-30,Thursday,0,0,5469,31.98,2.0,NaN,NaN
48625,WINE/CHAMPAGNE,2021-12-31,Friday,0,0,5025,19.98,2.0,Mega Millions,$221 Million
48626,WINE/CHAMPAGNE,2021-12-31,Friday,0,0,5387,17.48,2.0,Mega Millions,$221 Million
48627,WINE/CHAMPAGNE,2021-12-31,Friday,0,0,5469,94.94,6.0,Mega Millions,$221 Million

In [11]:
selected_data = complete_data.copy()

selected_data['Estimated Jackpot'] = selected_data['Estimated Jackpot'].fillna(method='ffill')
selected_data['Month'] = selected_data['Date'].dt.month

# Fix First Date
selected_data['Estimated Jackpot'] = selected_data['Estimated Jackpot'].fillna("$199 Million")

# Convert Estimated Jackpot to Numerical, multiple billion by 1000 to get millions
selected_data['Estimated Jackpot'] = selected_data['Estimated Jackpot'].apply(lambda x: x.replace('$',''))
selected_data['Estimated Jackpot'] = selected_data['Estimated Jackpot'].apply(lambda x: x.replace('Million',''))
selected_data['Estimated Jackpot'] = selected_data['Estimated Jackpot'].apply(lambda x: int(x.replace('Billion','')) * 1000 if x.find("Billion") != -1 else x)
selected_data['Estimated Jackpot'] = selected_data['Estimated Jackpot'].apply(lambda x: int(x))

In [12]:
# Example of selected_data
selected_data.sort_values(by = ['Estimated Jackpot'], ascending=False).head()

,SubCategoryName,Date,WeekDayName,IsWeekend,IsHoliday,FranchiseID,TotalSales,TotalQuantitySold,Lottery,Estimated Jackpot,Month
33532,OTC MEDICINE/VITAMINS,2021-01-22,Friday,0,0,5343,20.21,9.0,Mega Millions,1000,1
5959,AUTOMATIC CAR WASH,2021-01-22,Friday,0,0,5004,104.00,49.0,Mega Millions,1000,1
31370,LOTTERY/GAMING NON-INVENTORIABLE,2021-01-22,Friday,0,0,5156,1686.00,1686.0,Mega Millions,1000,1
31369,LOTTERY/GAMING NON-INVENTORIABLE,2021-01-22,Friday,0,0,5122,3305.00,3305.0,Mega Millions,1000,1
31368,LOTTERY/GAMING NON-INVENTORIABLE,2021-01-22,Friday,0,0,5121,2971.00,2971.0,Mega Millions,1000,1

In [13]:
sampled_data = selected_data.sample(frac=1)
len(sampled_data)

586918

In [14]:
X = sampled_data[['SubCategoryName','WeekDayName','IsWeekend','Month','FranchiseID','Estimated Jackpot']]
print("X Shape:", X.shape)
# TotalSales
y = sampled_data['TotalSales']
print("Y Shape:", y.shape)

X Shape: (586918, 6)
Y Shape: (586918,)

### Train/Test Set

In [15]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=35)
print("Training Set Length:", len(X_train), "Percentage:", round((len(X_train)/len(sampled_data)),2))
print("Testing  Set Length:", len(X_test), "Percentage:", round((len(X_test)/len(sampled_data)), 2))

Training Set Length: 469534 Percentage: 0.8
Testing  Set Length: 117384 Percentage: 0.2

### One Hot Encoding, Convert Categorical to Numerical

In [58]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", StandardScaler())]
)
categorical_transformer = OneHotEncoder(handle_unknown='ignore')
categorical_features = ['SubCategoryName','WeekDayName','IsWeekend','Month','FranchiseID']
numerical_features = ['Estimated Jackpot']

preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numerical_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

prepared_data = preprocessor.fit(X)
joblib.dump(preprocessor, 'preprocessor.pkl')

['preprocessor.pkl']

In [59]:
prepared_data = preprocessor.transform(X_train)
prepared_data

<469534x152 sparse matrix of type '<class 'numpy.float64'>'
	with 2817204 stored elements in Compressed Sparse Row format>

## Model Creation

In [17]:
%%time
from sklearn.ensemble import RandomForestRegressor

forest_reg = RandomForestRegressor()
forest_reg.fit(prepared_data, y_train)
pickle.dump(forest_reg, open('forest_reg.pkl', 'wb'))

Wall time: 4h 52min 51s

In [53]:
X_test_prepared = preprocessor.transform(X_test)
prediction_score = forest_reg.score(X_test_prepared,y_test)
prediction_score

0.9915422538691467

In [48]:
data = [['LOTTERY/GAMING NON-INVENTORIABLE','Monday',0,6,5004,250]]
df = pd.DataFrame(data, columns = ['SubCategoryName', 'WeekDayName','IsWeekend','Month','FranchiseID','Estimated Jackpot'])
prepared_test = preprocessor.transform(df)

forest_reg.predict(prepared_test)

array([260.01])

In [49]:
def itemAverage(subcategory, weekday, franchiseID, month):
    tmp_df = sampled_data[(sampled_data['SubCategoryName'] == subcategory) & (sampled_data['WeekDayName'] == weekday) & (sampled_data['FranchiseID'] == franchiseID) & (sampled_data['Month'] == month)]
    return tmp_df['TotalSales'].mean()

itemAverage("LOTTERY/GAMING NON-INVENTORIABLE", 'Monday', 5004, 6)

192.5

##### Evaluation

#### Root Mean Square Error (RMSE)

In [70]:
predictions = forest_reg.predict(X_test_prepared)

MSE = mean_squared_error(y_test, predictions)
 
RMSE = math.sqrt(MSE)
print("Root Mean Square Error:\n")
print(RMSE)

Root Mean Square Error:

157.1599142385353

#### R Square

In [72]:
r_square = r2_score(y_test, predictions)
r_square

0.9915422538691467

#### Mean Absolute Error (MAE)

In [73]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(y_test, predictions))

33.769479161074514

#### Lottery/Gaming Non-Inventoriable predictions

In [82]:
lottery_only_x = X_test[(X_test['SubCategoryName'] == 'LOTTERY/GAMING NON-INVENTORIABLE') | (X_test['SubCategoryName'] == 'LOTTERY/GAMING INVENTORIABLE')]
lottery_only_y = y_test[y_test.index.isin(lottery_only_x.index)]

# lottery_prepared = preprocessor.transform(lottery_only)
lottery_only_y

32438       6.99
27726    2241.00
29811      38.28
30499     165.00
30402      36.52
          ...
27896      49.35
30686     323.00
30462      35.23
29764       5.27
27148     512.00
Name: TotalSales, Length: 8034, dtype: float64

#### Cross Validation

In [29]:
# %%time
# from sklearn.model_selection import cross_val_score
# scores = cross_val_score(forest_reg, prepared_data, y_train, scoring="neg_mean_squared_error", cv=3)
# tree_rmse_scores = np.sqrt(-scores)
# tree_rmse_scores

In [ ]:
# def display_scores(scores):
#     print("Scores:", scores)
#     print("Mean:", scores.mean())
#     print("Standard Deviation:", scores.std())
    
# display_scores(tree_rmse_scores)